body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#app {
    font-family: Roboto, sans-serif;
    background-color: #FFFFFF;
    color: #303030;
    margin: 0 auto;
}

h1 {
    font-weight: bold;
}


a {
    cursor: pointer;
    text-decoration: none;
    color: white;
}

.l_container {
    margin: auto;
    width: 100%;
    min-width: 250px;
    margin-top: 70px;
}

#contact-page {
    display: flow-root;

}

ul {
    list-style: none;
}

#jobs-page {
    height: 100vh;
}

.l_navigator {
    width: 100%;
}


.l_container_fluid {
    max-width: 100%;
}

.container {
    /*width: 100%;*/
    padding: 0 15px;
    margin-right: auto;
    margin-left: auto;
}

/* ----------------------------------------------------mobile layout------------------------------------------ */
@media (min-width: 768px) {
    .container {
        max-width: 900px;
        padding: 0 30px;
    }
}

@media (min-width: 1264px) {
    .container {
        max-width: 1185px;
        padding: 0;
    }
}

.container--fluid {
    max-width: 100%;
}