.l_section {
  max-width: 1186px;
  margin: auto;
  margin-top: 80px;

}
@media only screen and (max-width : 1186px){
  .l_section {
      padding: 0 90px;
  }
}

@media only screen and (max-width : 720px){
  .l_section {
      padding: 0 20px;
  }
}